<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.inventory.inventory.InventoryMapper">
  <!-- Result Map for Inventory -->
  <resultMap id="inventoryResultMap" type="com.misstilo.cloth_erp_api.model.inventory.inventory.InventoryResponse">
    <id column="Id" property="id" />
    <result column="CurrentQty" property="currentQty" />
    <result column="PurchaseQty" property="purchaseQty" />
    <result column="PurchaseReturnQty" property="purchaseReturnQty" />
    <result column="SaleQty" property="saleQty" />
    <result column="SaleReturnQty" property="saleReturnQty" />
    <result column="ActualQty" property="actualQty" />
    <association property="store" javaType="com.misstilo.cloth_erp_api.model.store.store.StoreResponse">
      <id column="StoreId" property="id"/>
      <result column="StoreName" property="name"/>
    </association>
    <association property="productSku" javaType="com.misstilo.cloth_erp_api.model.product.productSku.ProductSkuResponse">
      <id column="ProductSkuId" property="id"/>
      <result column="ProductSkuCode" property="skuCode"/>
    </association>
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO Inventory (StoreId, ProductSkuId, CurrentQty, PurchaseQty, PurchaseReturnQty, SaleQty, SaleReturnQty)
    VALUES (#{storeId}, #{productSkuId}, #{currentQty}, #{purchaseQty}, #{purchaseReturnQty}, #{saleQty}, #{saleReturnQty})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM Inventory
    WHERE id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE Inventory
    <set>
      <if test="currentQty != null">
        CurrentQty = #{currentQty},
      </if>
      <if test="purchaseQty != null">
        PurchaseQty = #{purchaseQty},
      </if>
      <if test="purchaseReturnQty != null">
        PurchaseReturnQty = #{purchaseReturnQty},
      </if>
      <if test="saleQty != null">
        SaleQty = #{saleQty},
      </if>
      <if test="saleReturnQty != null">
        SaleReturnQty = #{saleReturnQty},
      </if>
    </set>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="inventoryResultMap">
    SELECT I.*, S.Name AS StoreName, PS.SkuCode AS ProductSkuCode
    FROM Inventory AS I
    INNER JOIN Store AS S ON I.StoreId = S.Id
    INNER JOIN ProductSku AS PS ON I.ProductSkuId = PS.Id
    <where>
      <if test="storeId != null and storeId.size > 0">
        AND I.StoreId IN
        <foreach collection="storeId" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
      <if test="productSkuId != null and productSkuId.size > 0">
        AND I.ProductSkuId IN
        <foreach collection="productSkuId" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
    </where>
    ORDER BY Id
  </select>
</mapper>