<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.purchase.purchaseReceiptDetail.PurchaseReceiptDetailMapper">
  <!-- Result Map for PurchaseReceiptDetail -->
  <resultMap id="purchaseReceiptDetailResultMap" type="com.misstilo.cloth_erp_api.model.purchase.purchaseReceiptDetail.PurchaseReceiptDetailResponse">
    <id column="Id" property="id" />
    <result column="PurchaseReceiptId" property="purchaseReceiptId" />
    <result column="Qty" property="qty" />
    <result column="ReceiveQty" property="receiveQty" />
    <result column="CostPrc" property="costPrc" />
    <result column="SubTot" property="subTot" />
    <association property="productSku" javaType="com.misstilo.cloth_erp_api.model.product.productSku.ProductSkuResponse">
      <id column="ProductSkuId" property="id"/>
      <result column="ProductSkuCode" property="skuCode"/>
    </association>
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO PurchaseReceiptDetail (PurchaseReceiptId, ProductSkuId, Qty, CostPrc)
    VALUES (#{purchaseReceiptId}, #{productSkuId}, #{qty}, #{costPrc})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM PurchaseReceiptDetail
    WHERE Id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE PurchaseReceiptDetail
    <set>
      <if test="!= null">
        Qty = #{qty},
      </if>
      <if test="!= null">
        CostPrc = #{costPrc},
      </if>
    </set>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="purchaseReceiptDetailResultMap">
    SELECT PRD.*, PS.SkuCode AS ProductSkuCode
    FROM PurchaseReceiptDetail AS PRD
    INNER JOIN ProductSku AS PS ON PRD.ProductSkuId = PS.Id
    <where>
      PRD.PurchaseReceiptId = #{purchaseReceiptId}
    </where>
    ORDER BY Id
  </select>
</mapper>