<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.sales.salesOrderStatus.SalesOrderStatusMapper">
  <!-- Result Map for SalesOrderStatus -->
  <resultMap id="salesOrderStatusResultMap" type="com.misstilo.cloth_erp_api.model.sales.salesOrderStatus.SalesOrderStatusResponse">
    <id column="Id" property="id" />
    <result column="Name" property="name" />
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO SalesOrderStatus (Name)
    VALUES (#{name})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM SalesOrderStatus
    WHERE id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE SalesOrderStatus
    <set>
      <if test="name != null">
        Name = #{name},
      </if>
    </set>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="salesOrderStatusResultMap">
    SELECT *
    FROM SalesOrderStatus
    <where>
      <if test="name != null and name != ''">
        AND Name LIKE '%' + #{name} + '%'
      </if>
    </where>
    ORDER BY Id
  </select>
</mapper>