<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.base.returnReason.ReturnReasonMapper">
  <!-- Result Map for ReturnReason -->
  <resultMap id="ReturnReasonResultMap" type="com.misstilo.cloth_erp_api.model.base.returnReason.ReturnReasonResponse">
    <id column="Id" property="id" />
    <result column="Reason" property="reason" />
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO ReturnReason (Reason)
    VALUES (#{reason})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM ReturnReason
    WHERE Id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE ReturnReason
    <set>
      <if test="reason != null">
        Reason = #{reason},
      </if>
    </set>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="ReturnReasonResultMap">
    SELECT *
    FROM ReturnReason
    <where>
      <if test="reason != null and reason != ''">
        AND Reason LIKE '%' + #{reason} + '%'
      </if>
    </where>
    ORDER BY Id
  </select>
</mapper>