<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.purchase.purchaseReturnDetail.PurchaseReturnDetailMapper">
  <!-- Result Map for PurchaseReturnDetail -->
  <resultMap id="purchaseReturnDetailResultMap" type="com.misstilo.cloth_erp_api.model.purchase.purchaseReturnDetail.PurchaseReturnDetailResponse">
    <id column="Id" property="id" />
    <result column="PurchaseReturnId" property="purchaseReturnId" />
    <result column="Qty" property="qty" />
    <result column="CostPrc" property="costPrc" />
    <result column="SubTot" property="subTot" />
    <association property="productSku" javaType="com.misstilo.cloth_erp_api.model.product.productSku.ProductSkuResponse">
      <id column="ProductSkuId" property="id" />
      <result column="ProductSkuCode" property="skuCode" />
    </association>
    <association property="returnReason" javaType="com.misstilo.cloth_erp_api.model.base.returnReason.ReturnReasonResponse">
      <id column="ReturnReasonId" property="id" />
      <result column="ReturnReason" property="reason" />
    </association>
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO PurchaseReturnDetail (PurchaseReturnId, ProductSkuId, ReturnReasonId, Qty, CostPrc)
    VALUES (#{purchaseReturnId}, #{productSkuId}, #{qty}, #{costPrc})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM PurchaseReturnDetail
    WHERE Id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE PurchaseReturnDetail
    <set>
      <if test="!= null">
        Qty = #{qty},
      </if>
      <if test="!= null">
        CostPrc = #{costPrc},
      </if>
    </set>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="purchaseReturnDetailResultMap">
    SELECT PRD.*, PS.SkuCode AS ProductSkuCode
    FROM PurchaseReturnDetail AS PRD
    INNER JOIN ProductSku AS PS ON PRD.ProductSkuId = PS.Id
    <where>
      PRD.PurchaseReturnId = #{purchaseReturnId}
    </where>
    ORDER BY Id
  </select>
</mapper>